@page {
    size: A4 portrait;
    margin: 4cm;
}
@media print {
    #clausule {
        position: absolute;
        bottom: 0px;
    }
}

html {
    margin: 0px;
}

body {
    margin: 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.7vw;
}

body > * {
    margin: auto;
}

#page {
    margin: auto;
    width: 90%;
}

#title {
    text-align: left;
    margin-bottom: 2em;
    position: relative;
}
#title > .name {
    display: inline-block;
    font-size: 3em;
    text-transform: uppercase;
    border-right: solid 1px !important;
    padding-right: 0.3em;
    margin-right: 0.3em;
}
#title > .profession {
    font-size: 2.5em;
    display: inline-block;
    text-align: center;
    margin-bottom: 0.3em;
}
#title .contact {
    display: table-row;
}
#title .contact > * {
    text-align: left;
    display: table-cell;
    padding-right: 1em;
}
#title .contact > *::before {
    padding-left: 1.3em;
    background-position: left center !important;
    font-weight: normal;
}
#title .contact .phone::before {
    background: url("../icons/phone.svg") no-repeat;
    content: " ";
}
#title .contact .email::before {
    background: url("../icons/envelope.svg") no-repeat;
    content: " ";
}
#title .contact .linkedin::before {
    background: url("../icons/linkedin.svg") no-repeat;
    content: " linkedin.com/in/";
}

#title .contact .github::before {
    background: url("../icons/github.svg") no-repeat;
    content: " github.com/";
}


#skills > .content > div > h4 {
    position: absolute;
    top: 0px;
    left: -20vw;
    width: 20vw;
    margin-top: 0px
}
#skills > .content > div {
    margin-left: 20vw;
    position: relative;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
#skills .skill-1,
#skills .skill-2,
#skills .skill-3 {
    display: inline-block;
    font-weight: normal;
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1em;
    margin-right: 1em;
}
#skills > .content > div > h4::after {
    content: ":";
}
#skills .skill-1::before,
#skills .skill-2::before,
#skills .skill-3::before {
    /* margin-right: 0.2em; */
}
#skills .skill-3 {
    font-weight: bold;
}
#skills .skill-1::before {
    /* content: "★☆☆"; */
}
#skills .skill-2::before {
    /* content: "★★☆"; */
}
#skills .skill-3::before {
    /* content: "★★★"; */
}

#education .university {
    display: inline-block;
    font-weight: bold;
}
#education .faculty,
#education .degree {
    display: inline-block;
    margin-bottom: 0.7em;
    border-left: solid 1px;
    padding-left: 0.3em;
    margin-left: 0.3em;
}
#education > .content > div  {
    display: inline-block;
}
#education .period {
    top: 0.1em;
    font-size: 0.9em;
    width: 30%;
    left: calc(100% - 30%);
    float: both;
    position: absolute;
    margin-top: 0px;
    margin-right: 0.5em;
}

#experience > .content > div:first-of-type {
    position: relative;
}
#experience .company {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}
#experience .job {
    width: 30vw;
    border-left: solid 1px;
    padding-left: 0.3em;
    margin-left: 0.3em;
    /* text-decoration: underline; */
}
#experience .job,
#experience .period {
    font-size: 0.9em;
    display: inline-block;
}
#experience .period {
    font-size: 0.9em;
    float: both;
    position: absolute;
    width: 30%;
    left: calc(100% - 30%);
    margin-right: 0.5em;
}
#experience .keywords {
    display: block;
    margin-bottom: 0.7em;
}
#experience .keywords > span {
    display: inline-block;
    font-weight: bold;
    min-width: 3em;
    margin-right: 0.5em;
    font-size: 0.8em;
}
#experience .description {
    display: block;
    margin-bottom: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.7em;
}
#experience .description > h4 {
    display: block;
    margin-bottom: 0;
}
#experience .project > h4 {
    display: block;
    margin-top: 0.4em;
    margin-bottom: 0 !important;
    margin-block-end: 0 !important;
}
#experience .project > .keywords {
    display: block;
    margin-bottom: 0.2em;
}
#experience .description > span.keyword {
    font-weight: bold;
}
#experience .description > ul {
    margin: 0.5em 0em;
    padding-left: 1.2em;
}
#experience .description > ul > li {
    margin: 0;
    padding: 0;
}

#page > .section > h3 {
    margin-top: 0px;
    position: absolute;
    font-size: 1em;
}

#page > .section > .content:first-of-type {
    page-break-inside: auto;
}

#page > .section > .content,
#experience .project {
    page-break-inside: avoid;
}

#page > .section {
    margin-top: 0.3em;
    word-wrap: break-word;
    position: relative;
}

#clausule {
    margin: auto;
    margin-top: 5em;
    display: block;
    font-size: x-small;
    text-align: center;
}

/* English left pane */
.en > #title {
    left: calc(100% * 0.13);
    width: calc(100% - 100% * 0.13);
}
.en > .section > h3 {
    left: calc(100% / 0.90 * -0.13);
    width: calc(100% / 0.90 * 0.13);
}
.en > .section {
    left: calc(100% * 0.13);
    width: calc(100% - 100% * 0.13);
}
.en > .section > .content {
    width: calc(100% / 0.90 * (1 - 0.13));
}
# Highlight things
.debug {
    border: solid 1px magenta;
}
.debug > #title {
    border: solid 1px blue;
}
.debug > .section > h3 {
    border: solid 1px purple;
}
.debug > .section {
    border: solid 1px pink;
}
.debug > .section > .content {
    border: solid 1px green;
}
